@font-face {
	font-family:'Decovar Regular24';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Decovar-VF.ttf');
}

#start-page {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#start-page img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#start-page .title {
    position: relative;
    top: 30%;
    left: 50%;
    text-align: center;
    z-index: 30;
    font-size: 5vw;
    font-family: 'Press Start 2P', cursive;
    transform: translate(-50%, -50%);
}

#start-page #game-start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height:100px;
  width:500px;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

#game-page{
  text-align: center;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  display:inline-block;
  margin: 0 auto;
  /* position: relative; */
	/* ^ Was Messing with turret placement */
  border-radius: 70px;
  box-shadow: 0 5px 50px #333;
  background-color: white;
}

#game-page img{
  z-index:1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#game-page #add-turret-btn {
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
}

#game-page #next-round-btn {
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
}
#game-page #canvas-div{
  /* position: relative; */
	/* ^ Was Messing with turret placement */
  z-index:20;
}

.blue-background{
  background-color: blue;
  text-align: center;
}

.white-background{
  display: inline;
  margin: 20px;
  /* padding: 10px; */
  background-color: white;
}

.row {
    text-align: center;
}

.item {
    display: inline-block;
    margin-right: 6px;
    background-color: #EEE;
}

.clear {
    clear: both;
}

#end-page #lose-page{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#end-page #lose-page img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#end-page #lose-page .lost{
    position: relative;
    top: 30%;
    left: 50%;
    text-align: center;
    z-index: 30;
    font-size: 5vw;
    font-family: 'Press Start 2P', cursive;
    transform: translate(-50%, -50%);
}

#end-page #restart-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height:100px;
  width:500px;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
	z-index: 29;
}

#end-page #lose-page{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#end-page #win-page img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#end-page #win-page .win{
    position: relative;
    /* top: 30%; */
    left: 50%;
    text-align: center;
    z-index: 30;
    font-size: 5vw;
    font-family: 'Press Start 2P', cursive;
    transform: translate(-50%, -50%);
}

#end-page #win-page .score{
    position: relative;
    /* top: 30%; */
    left: 50%;
    text-align: center;
    z-index: 30;
    font-size: 5vw;
    font-family: 'Press Start 2P', cursive;
    transform: translate(-50%, -50%);
}

#end-page #win-page #end-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height:150px;
  width:500px;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
	z-index: 30;
}

#end-page #win-page #end-select{
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    z-index: 30;
    font-size: 1vw;
    font-family: 'Press Start 2P', cursive;
    transform: translate(-50%, -50%);
}

#end-page #win-page #username-input{
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 30;
    font-size: 1vw;
    font-family: 'Press Start 2P', cursive;
    transform: translate(-50%, -50%);
}

#end-page #win-page #end-highscore{
    position: relative;
		/* display: none; */
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 30;
    font-size: 1vw;
    font-family: 'Press Start 2P', cursive;
    transform: translate(-50%, -50%);
}

/* #end-page #win-page input[type=submit]{
    position: relative;
    top: 30%;
    left: 50%;
    text-align: center;
    z-index: 30;
    font-size: 1vw;
    font-family: 'Press Start 2P', cursive;
    transform: translate(-50%, -50%);
} */


#end-page #win-page #end-form #end-form-buttons{
	position: absolute;
	top: 80%;
	left: 50%;
	text-align: center;
	z-index: 30;
	font-size: 1vw;
	font-family: 'Press Start 2P', cursive;
	transform: translate(-50%, -50%);
}
