@font-face {
	font-family:'Decovar Regular24';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Decovar-VF.ttf');
}

#start-page {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#start-page img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#start-page .title {
    position: relative;
    top: 30%;
    left: 50%;
    text-align: center;
    z-index: 30;
    font-size: 5vw;
    font-family: 'Press Start 2P', cursive;
    transform: translate(-50%, -50%);
}

#start-page #start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height:100px;
  width:500px;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

#game-page{
  text-align: center;
}

.blue-background{
  background-color: blue;
  text-align: center;
}

.white-background{
  display: inline;
  margin: 20px;
  /* padding: 10px; */
  background-color: white;
}

.row {
    text-align: center;
}

.item {
    display: inline-block;
    margin-right: 6px;
    background-color: #EEE;
}

.clear {
    clear: both;
}
