.blue-background{
  background-color: blue;
  text-align: center;
}

.white-background{
  display: inline;
  margin: 20px;
  /* padding: 10px; */
  background-color: white;
}

.row {
    text-align: center;
}
.item {
    display: inline-block;
    margin-right: 6px;
    background-color: #EEE;
}
.clear {
    clear: both;
}
